@use '../styles/variables'
@use '../styles/mixins'

.podcastitem
    @include mixins.shadow()
    position: relative
    display: flex
    flex-direction: column
    padding: 1rem
    height: 120%
    margin-top: 2rem
    justify-content: flex-end
    > &__image
        position: absolute
        left: 50%
        transform: translateX(-50%) translateY(-70%)
        border-radius: 50%
        height: variables.$default-font-size * 5
    > &__meta
        & > *
            text-align: center
            width: calc(100%)
        & > &__title
            text-transform: uppercase
            font-weight: variables.$default-font-weight
            @include mixins.ellipsis()
            
        > &__author
            @include mixins.ellipsis()