@use '../styles/variables'
@use '../styles/mixins'

.podcastdetails
    padding-right: 2rem
    width: variables.$podcast-details-width
    &__container
        @include mixins.shadow()
        padding: variables.$default-padding
        display: flex
        flex-direction: column
        align-items: center
        a:hover
            text-decoration: underline
        img
            width: 50%
            margin-bottom: variables.$default-margin
            transform: translateX(50%)
        &__meta
            width: 100%
            padding: variables.$default-padding
            border-top: variables.$border-config
            border-bottom: variables.$border-config
            &__title
                font-weight: variables.$default-font-weight
                margin-bottom: calc(variables.$default-margin / 2)
            &__artist
                font-style: italic
        &__description
            padding: variables.$default-padding
            h3
                font-size: variables.$default-font-size
                font-weight: variables.$default-font-weight
                margin-bottom: variables.$default-margin
            div
                @include mixins.description()