@use '../styles/variables'
@use '../styles/mixins'

.navigation-bar
    @include mixins.default-border
    display: flex
    padding: variables.$default-padding 0
    justify-content: space-between
    align-items: center
    h1
        color: variables.$primary-color
        font-size: variables.$default-font-size * 1.5
.loader
    width: variables.$default-font-size * 1.2
    height: variables.$default-font-size * 1.2
    background-color: variables.$primary-color
    border-radius: 50%
    filter: blur(variables.$default-font-size * 0.25)
    animation: pulse-animation 1s ease-in-out infinite
    
@keyframes pulse-animation
    0%
        transform: scale(0.9)
        opacity: 1

    50% 
        transform: scale(1)
        opacity: 0.5

    100% 
        transform: scale(0.9)
        opacity: 1